{% extends "home_page/base.html" %}
{%  load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'pricing.css' %}" >

    <style>
      body {
          padding-top: 10%;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
{% endblock %}


{% block content %}
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">One month</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€ 3.00</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>If you just want to</li>
                <li>try our services go ahead,</li>
                <li>this is option for you,</li>
                <li>but we hope after month</li>
                <li>you will stay with us</li>
                <li>for longer.</li>
            </ul>
            <a type="button" class="btn btn-lg btn-block btn-primary" href="{% url 'signup' %}">Sign up</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal" >Annual</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€ 30.00</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>This is full option</li>
                <li>you can buy it</li>
                <li>and we will take care </li>
                <li>of your services</li>
                <li>for whole year</li>
                <li> &nbsp </li>
            </ul>
            <a type="button" class="btn btn-lg btn-block btn-primary" href="{% url 'signup' %}">Sign up</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Renewable</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">€ 2.50 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>We are working hard</li>
                <li>to give our customers</li>
                <li>best services we can.</li>
                <li>We are planning to make</li>
                <li>renewable subscriptions</li>
                <li>for your convenience.</li>
            </ul>
            <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'signup' %}">Sign up</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}