{#{% extends "home_page/base.html" %}#}
{#{%  load static %}#}
{##}
{#{% block header %}#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">#}
{##}
{##}
{#    <style>#}
{#      .bd-placeholder-img {#}
{#        font-size: 1.125rem;#}
{#        text-anchor: middle;#}
{#        -webkit-user-select: none;#}
{#        -moz-user-select: none;#}
{#        -ms-user-select: none;#}
{#        user-select: none;#}
{#      }#}
{##}
{#      @media (min-width: 768px) {#}
{#        .bd-placeholder-img-lg {#}
{#          font-size: 3.5rem;#}
{#        }#}
{#      }#}
{#    </style>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="form-signin">#}
{#        <form method="POST" action="">#}
{#            {% csrf_token %}#}
{#        <img class="mb-4" src="{% static 'logo.svg' %}" alt="" width="100" height="100">#}
{#        <h1 class="h3 mb-3 font-weight-normal">Create new account</h1>#}
{#        <label for="inputEmail" class="sr-only">Email address</label>#}
{#        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>#}
{#        <label for="inputPassword" class="sr-only">Password</label>#}
{#        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>#}
{#        <label for="inputPassword" class="sr-only">Confirm password</label>#}
{#        <input type="password" id="inputPassword" class="form-control" placeholder="Confirm password" required>#}
{#        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}
{% extends "home_page/base.html" %}
{%  load static %}

{% block header %}
	<title>Login</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

	<style>
        body {
          height: 110%;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #f5f5f5;
          text-align: center;
        }

		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #f5f5f5;
			position: relative;
			justify-content: center;
			flex-direction: column;
		}

		.form_container {
			margin-top: 20px;
		}

		.login_container {
			padding: 0 2rem;
		}
        .input-group {
            width: 330px;
            height: 40px;
            margin: auto;
            font-size: 24px;
        }

	</style>

{% endblock %}
{% block content %}
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
                <img class="mb-4" src="{% static 'logo.svg' %}" alt="" width="100" height="100">
				<div class="d-flex justify-content-center">
					 <h1 class="h3 mb-3 font-weight-normal">Create new account</h1>
				</div>
				<div class="d-flex justify-content-center form_container">

					<form method="POST" action="">
                        {% csrf_token %}
						<div class="input-group mb-2">
							{{ form.username }}
						</div>
						<div class="input-group mb-2">
							{{ form.email }}
						</div>
						<div class="input-group mb-2">
							{{ form.password1 }}
						</div>
						<div class="input-group mb-2">
							{{ form.password2 }}
						</div>

				   		<div class="d-flex justify-content-center mt-3 login_container">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
				   		</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>

		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='username';
		form_fields[2].placeholder='email';
		form_fields[3].placeholder='password';
		form_fields[4].placeholder='confirm password';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>
{% endblock %}