{%  load static %}
<!DOCTYPE html>
<html>
<head>
     <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
     <link href="{% static 'dashboard.css' %}" rel="stylesheet">
     <link href="{% static 'user_home_style.css' %}" rel="stylesheet">
    {% block header %}
     <!--EXTRA HEAD STUFF GOES HERE -->
    {% endblock %}
</head>
<body>
    <!-- TOP BAR -->
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 navbar-expand-lg">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'user page' %}">DNS checker</a>
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user profile' %}">{{request.user.username}}</a>
          </li>
          <li class="nav-item" style="padding-left:1em; padding-right: 1em">
            <a class="nav-link" href="{% url 'logout'%}">log out</a>
          </li>
      </ul>
    </nav>

    <!-- LEFT BAR -->
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column" style="line-height:2.2; margin-top:50px; position:fixed;">
                  {% block sidebar %}
                <!--LEFT BAR INGREDIENTS GOES HERE -->
                  {% endblock %}
            </ul>
          </div>
        </nav>

          <!-- OUR CONTENT-->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {% block content %}
                <!--CONTENT OF A PAGE GOES HERE -->
                {% endblock %}
        </main>
      </div>
    </div>
</body>
</html>