{% extends "user_page/base.html" %}
{% load static %}

{% block header %}
    <style>

        .my_div {
            margin-bottom: 5%;
        }

        .checkboxes {
            margin-top: 20px;
            margin-left:20px;
        }

        button {
            margin-left: 50%;
            max-width: 300px;
            transform: translate(-50%, 0%);
        }

    </style>
{% endblock %}


{% block sidebar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'user page' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'user profile' %}">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'user statistics' %}">Statistics</a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'buy subscription' %}">Buy subscription</a></li>
{% endblock %}

{% block content %}
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="my_div">

            {# header#}
            <div class="py-5 text-center">
                <h2>Subscribe</h2>
                <p class="lead">We are honored that you decided to use our service. As a proverb goes, forewarned is forearmed, we believe that our
                    system will help your customers stay safe.</p>
            </div>
            <div class="container">
                 {# title #}
                <h3 class="mb-3" style="padding-top: 50px">VPN</h3>
                <p class="lead" style="font-size: 18px">Choose from which localizations do you want to have DNS servers checked.</p>

                <h4 class="mb-3" style="padding-top: 50px">Available VPN localizations</h4>

                 {# checkboxes #}
                <div class="checkboxes">
                    <label style="white-space: pre;  font-family: monospace; font-size: 14px; font-weight: bold;">{{ form.title }}</label>
                    <div class="row">
                        <div class="row">
                            {% for checkbox in  form.multiple_checkboxes %}
                                <div class="col-md-9">
                                    <label>
                                        {{ checkbox.tag }}
                                        <label style="white-space: pre; font-family: monospace; font-size: 14px;">{{ checkbox.choice_label }} </label>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {# user's VPN #}
                <h4 class="mb-3" style="padding-top: 50px">Your VPN (optional)</h4>
                <ul>
                    {% for user_vpn in form.file_names %}
                        <li style="font-family: monospace; font-size: 14px;">{{ user_vpn }}</li>
                    {% endfor %}
                </ul>
                <div class="row">
                    <div class="col-md-4 mb-3" style="margin-top:15px">
                        {{form.vpn_file}}
                    </div>
                    <div class="col-md-1 mb-3">
                        <button class="btn btn-secondary  btn-block" name="add" type="submit" style="margin-top:15px">add</button>
                    </div>
                </div>
            </div>
            {# error messages #}
            {% if form.errors %}
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p style="text-align: center">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {# button #}
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" name="continue" type="submit">Continue</button>
        </div>
    </form>
{% endblock %}