{% extends "user_page/base.html" %}
{%  load static %}

{% block header %}
    <link rel="stylesheet" type="text/css"  href="{% static 'pricing.css' %}" >

    <style>
     .container {
        margin-top:10% !important;
     }
    </style>

{% endblock %}


{% block sidebar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'user page' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'user profile' %}">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'user statistics' %}">Statistics</a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'buy subscription' %}">Buy subscription</a></li>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Option 1</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$ ?? <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>some description</li>
              <li>some description</li>
              <li>some description</li>
              <li>some description</li>
            </ul>
            <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'buy subscription form' %}">buy</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal" >Option 2</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$ ?? <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>some description</li>
              <li>some description</li>
              <li>some description</li>
              <li>some description</li>
            </ul>
            <a type="button" class="btn btn-lg btn-block btn-primary" href="{% url 'buy subscription form' %}">buy</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Option 3</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$?? <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>some description</li>
              <li>some description</li>
              <li>some description</li>
              <li>some description</li>
            </ul>
            <a type="button" class="btn btn-lg btn-block btn-primary" href="{% url 'buy subscription form' %}">buy</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}