{% extends "user_page/base.html" %}
{%  load static %}

{% block header %}
{% endblock %}

{% block sidebar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'user page' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'user profile' %}">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'user statistics' %}">Statistics</a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'buy subscription' %}">Buy subscription</a></li>
{% endblock %}

{% block content %}
    <main role="main" class="home_containers">
    <h1> BUY SUBSCRIPTION PAGE </h1>
    <h2> TO DO </h2>
    </main>
{% endblock %}