{% extends "user_page/base.html" %}
{%  load static %}

{% block header %}
    <style>
        .nosub_text{
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -20px;
            transform: translate(-50%, -50%);
        }

        .nosub_btn{
            position: fixed;
            left: 50%;
            top: 50%;
            margin-top: 20px;
            transform: translate(-50%, -50%);
        }
    </style>
{% endblock %}

{% block sidebar %}
    <li class="nav-item"><a class="nav-link active" href="{% url 'user page' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'user profile' %}">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'user statistics' %}">Statistics</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'buy subscription' %}">Buy subscription</a></li>
{% endblock %}

{% block content %}
    {% if not user_services %}
        <div class="nosub_text">
            <p> You have no active subscriptions </p>
        </div>
        <div class="nosub_btn">
            <a class="btn btn-primary" href="{% url 'buy subscription' %}">buy subscription</a>
        </div>
    {% endif %}

    {% for service in user_services %}
        <div class="home_container">
            {% if service.result == '-' %}
            {% elif service.result == 'successful' %}
               <img class="mb-4" src="{% static 'successful.svg' %}">
            {% elif service.result in 'no reponse,internal failure: out of memory,internal failure: vpn_connection_failure,internal failure: process_crash' %}
               <img class="mb-4" src="{% static 'warning.svg' %}">
            {% else %}
               <img class="mb-4" src="{% static 'error.svg' %}">
            {% endif %}
            <h1> {{ service.label }}</h1>
            <table>
                <tr>
                    <th style="font-weight: normal;"><p>Web address:</p></th>
                    <th style="font-weight: normal;"><p style="margin-left: 40px;">{{  service.web_address }}</p></th>
                </tr>
                <tr>
                    <th style="font-weight: normal;"><p>Result:</p></th>
                    <th style="font-weight: normal;"><p style="margin-left: 40px;">{{  service.result }}</p></th>
                </tr>
                <tr>
                    <th style="font-weight: normal;"><p>Last checked:</p></th>
                    <th style="font-weight: normal;"><p style="margin-left: 40px;">{{  service.last_checked }}</p></th>
                </tr>
            </table>
        </div>
    {% endfor %}
{% endblock %}