{% extends "user_page/base.html" %}
{%  load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_home_style.css' %}">
    <style>
    .btn-primary {
        position: absolute;
        top: 60px;
        right: 10px;
    }
    </style>
{% endblock %}

{% block content %}
    <main role="main" class="home_containers">
    {% for user_dns in user_dns_list %}
        <div class="home_container">
            {% if user_dns.status == 'OK' %}
               <img class="mb-4" src="{% static 'result_ok.svg' %}">
            {% else %}
               <img class="mb-4" src="{% static 'result_wrong.svg' %}">
            {% endif %}
            <h1> {{ user_dns.label }}</h1>
            <p> IP: {{  user_dns.ip }} </p>
            <p> Status: {{  user_dns.status }} </p>
            <p> Last checked: {{  user_dns.last_checked }} </p>
        </div>
    {% endfor %}
    </main>
{% endblock %}