{% extends "user_page/base.html" %}
{%  load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_home_style.css' %}">
    <style>
    .btn-primary {
        position: absolute;
        top: 60px;
        right: 10px;
    }
    </style>
{% endblock %}

{% block content %}
    <h1>USER {{request.user.username}} LOGGED IN</h1>
    <a class="btn btn-primary" href="{% url 'logout'%}">Log out</a>

    <main role="main" class="home_containers">
    {% for user_dns in user_dns_list %}
        <div class="home_container">
        <h1> {{ user_dns.label }}</h1>
        <p> IP: {{  user_dns.ip }} </p>
        <p> Status: {{  user_dns.status }} </p>
        <p> Last checked: {{  user_dns.last_checked }} </p>
        </div>
    {% endfor %}
    </main>
{% endblock %}