{% extends "user_page/base.html" %}
{%  load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile.css' %}">
{% endblock %}

{% block sidebar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'user page' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'user profile' %}">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'user statistics' %}">Statistics</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'buy subscription' %}">Buy subscription</a></li>
{% endblock %}

{% block content %}
    <div class="flex-container">
        <div class="flex-container-column">
            <div class="profile-userpic" style="margin: auto">
                <img src="https://image.flaticon.com/icons/svg/21/21104.svg" class="img-responsive" alt="">
                <p class="profile-usertitle-name"> {{ username }} </p>
            </div>
        </div>
        <div style="width: 400px; margin-top: 50px; padding-left: 80px;
        padding-top: 50 px">
            <p style="font-weight: bold; font-size: 20px">Password change:</p>
            <form method="POST" action="" style="font-size:17px">
                {% csrf_token %}
                {{ form }}
                <div class="d-flex justify-content-center mt-3 login_container">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}