{% extends "user_page/base.html" %}
{%  load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile.css' %}">
{% endblock %}

{% block sidebar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'user page' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'user profile' %}">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'user statistics' %}">Statistics</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'buy subscription' %}">Buy subscription</a></li>
{% endblock %}

{% block content %}
    <div class="flex-container">
        <div class="flex-container-column">
            <div class="profile-userpic" style="margin: auto">
                <img src="https://image.flaticon.com/icons/svg/21/21104.svg" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle-name" style="margin-top: 0px">
                {{ username }}
            </div>
        </div>
        <div style="width: 400px; margin-left: 100 px; margin-bottom: 80px; margin-top: 100px; padding-left: 50px;
        padding-top: 50 px">
            <form method="POST" action="">
                {% csrf_token %}
                <label class="h3 mb-3 font-weight-normal" style="font-size: 15px" for="new password">New password</label>
                <input class="form-control"  id="new password" type="text" name="new password" maxlength="30" required>
                <label class="h3 mb-3 font-weight-normal" style="font-size: 15px" for="confirm new password">Confirm new password</label>
                <input class="form-control"  id="confirm new password" type="text" name="confirm new password" maxlength="30" required>

                <div class="d-flex justify-content-center mt-3 login_container">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}