{% extends "user_page/base.html" %}
{%  load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile.css' %}">
{% endblock %}

{% block sidebar %}
    <li class="nav-item"><a class="nav-link" href="{% url 'user page' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link active" href="{% url 'user profile' %}">Profile</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'user statistics' %}">Statistics</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'buy subscription' %}">Buy subscription</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'subscription management' %}">Subscription management</a></li>
{% endblock %}

{% block content %}
    <div class="flex-container">
        <div class="flex-container-column">
            <div class="profile-userpic" style="margin: auto">
                <img src="https://image.flaticon.com/icons/svg/21/21104.svg" class="img-responsive" alt="">
                <p class="profile-usertitle-name"> {{ username }} </p>
            </div>
        </div>
        <div style="width: 500px; margin-top: 50px; padding-left: 80px;
        padding-top: 50 px">
            <p style="font-weight: bold; font-size: 20px">Password change:</p>
            <form method="POST">
                    {{form.non_field_errors}}
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="flex-container-column">
                            <label class="h3 mb-3 font-weight-normal" style="font-size: 17px">
                                {{field.label_tag}}
                            </label>
                            <div class="h3 mb-3 font-weight-normal">
                                {{ field }}
                            </div>
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        </div>
                    {% endfor %}
                <div class="d-flex justify-content-right mt-3 login_container">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" style="width: 300px">Change password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}